In [1]:
print("Hola mundo")

Hola mundo

In [11]:
## variables Primitivas
entero = 3 
decimal = 1.1
nombre = "Patricio"
segundo_nombre = "Kevin"
casado = False
estudiante = True
hijos = None;
print(type(entero)) # int
print(type(decimal)) # float
print(type(nombre)) # str
print(type(segundo_nombre)) # str
print(type(casado)) # boolean
print(type(estudiante)) # boolean
print(type(hijos)) # noneType

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [15]:
print(entero)
entero = decimal
entero = nombre
print(entero)

1.1
Patricio

In [32]:
patricio = {
    nombre : "patricio",
    "apellido" : 'Mendoza',
    'edad' : 27,
    'sueldo' : 1.1,
    hijos : None,
    casado : False,
    "mascotas" : [{ nombre : " Grisson"}]
    
}
patricio

{'Patricio': 'patricio',
 'apellido': 'Mendoza',
 'edad': 27,
 'sueldo': 1.1,
 None: None,
 False: False,
 'mascotas': [{'Patricio': ' Grisson'}]}

In [33]:
patricio["apellido"]

'Mendoza'